/* stylelint-disable */
@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
:root {
  --font-family: "SFProDisplay";
  --content-width: 1664px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-black: #1C1F22;
  --color-grey: #A3ACB2;
  --color-green: #49A54C;
  --shadow: 0px 4px 16px rgba(64, 68, 82, 0.12);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--color-black);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.button {
  min-width: 122px;
  height: 40px;
  padding: 0 32px;
  border-radius: 8px;
  background-color: var(--color-green);
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #5DB960;
}
.button:active {
  background-color: #359138;
}

.button.button--border {
  background-color: transparent;
  border: 1px solid #49A54C;
  color: #49A54C;
}
.button.button--border:hover {
  border: 1px solid #5DB960;
  color: #5DB960;
}
.button.button--border:active {
  color: #359138;
  border: 1px solid #359138;
}

.input {
  background: #FFFFFF;
  border: 1px solid #DCDEE6;
  border-radius: 8px;
  min-height: 40px;
  padding: 0 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 14px;
  width: 100%;
}
.input:hover, .input:focus, .input:active, .input:focus-visible {
  border: 1px solid #49A54C;
  outline-style: none;
}

.text {
  color: var(--color-grey);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.text:hover {
  color: #B7C0C6;
}
.text:active {
  color: #8F989E;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: var(--color-black);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title .title--big {
  color: var(--color-black);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: white;
  z-index: 100;
}

.header_hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}
@media (max-width: 1024px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
    -webkit-align-items: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}
@media (max-width: 1340px) {
  .header__left {
    gap: 21px;
  }
}
@media (max-width: 1024px) {
  .header__left {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  .header__logo {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__phone {
  display: none;
}
@media (max-width: 1024px) {
  .header__phone {
    display: block;
  }
}

.header__gamburger {
  display: none;
  width: 18px;
  height: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__gamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 20px;
}
.header__gamburger span:before, .header__gamburger span:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 20px;
}
.header__gamburger span:before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.header__gamburger span:after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
@media (max-width: 1024px) {
  .header__gamburger {
    display: block;
  }
}

@media (max-width: 1024px) {
  .header__button {
    display: none;
  }
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list li:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 1340px) {
  .nav__list li:not(:last-child) {
    margin-right: 24px;
  }
}
.nav__list li a {
  font-size: 18px;
  color: var(--color-black);
}

.nav__manu {
  background-color: var(--color-green);
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  cursor: pointer;
}
.nav__manu:hover {
  background-color: #5DB960;
}
.nav__manu span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
}
.nav__manu span:before, .nav__manu span:after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
}
.nav__manu span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.nav__manu span::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.header__search {
  position: relative;
  width: 344px;
}
.header__search button {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 4px;
  right: 4px;
  background: #49A54C;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__search button img {
  width: 18px;
  height: 18px;
}
@media (max-width: 1340px) {
  .header__search {
    width: 150px;
  }
}
@media (max-width: 1024px) {
  .header__search {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 16px;
  }
  .header__search input {
    height: 48px;
  }
  .header__search button {
    height: 40px;
    width: 40px;
  }
}

.banner {
  margin-top: 30px;
}
.banner .banner__wrapper {
  color: #FFFFFF;
  background: #3CA03F;
  border-radius: 32px;
  padding: 68px 87px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/image/banner-back.jpg);
  background-position: right;
  background-size: cover;
}
.banner .banner__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  line-height: 40px;
}
.banner .banner__info {
  max-width: 415px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
@media (max-width: 1340px) {
  .banner .banner__wrapper {
    padding: 80px 50px;
    background-position: 20% 0;
  }
}
@media (max-width: 1024px) {
  .banner {
    margin-top: 5px;
  }
  .banner .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .banner .banner__wrapper {
    border-radius: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 15px;
    background-position: 50% 0;
    padding: 44px 15px;
  }
  .banner .banner__info {
    max-width: 277px;
  }
  .banner .banner__title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .banner .banner__wrapper {
    padding: 22px 16px;
  }
}

.breadcrumbs {
  margin-top: 25px;
}

.breadcrumbs__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
}
.breadcrumbs__list li:not(:first-child)::before {
  content: "/";
  padding: 0 4px;
  color: var(--color-grey);
}
.breadcrumbs__list a {
  color: var(--color-grey);
  font-weight: 400;
}

.product {
  margin-top: 15px;
}
.product .product__reviews {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.product .product__reviews a {
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
}
.product .product__stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.product .product__stars li {
  cursor: pointer;
}
.product .product__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .product .product__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .product .product__info {
    margin-top: 32px;
  }
}
.product .product__about p {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 450px;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  max-height: 185px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .product .product__about p {
    max-width: inherit;
    max-height: 185px;
    -webkit-line-clamp: 11;
  }
}
.product .product__about p.unwrap {
  -webkit-line-clamp: inherit;
}
.product .product__moreinfo {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px;
}
.product .product__button {
  margin-top: 72px;
  height: 56px;
}
@media (max-width: 1024px) {
  .product .product__button {
    margin-top: 40px;
    width: 100%;
  }
}
.product .product__photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  height: 540px;
}
@media (max-width: 1024px) {
  .product .product__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}
.product .product__thumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 1024px) {
  .product .product__thumbs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: inherit;
  }
}
.product .product__thumbs .swiper-container {
  height: 100%;
  overflow: hidden;
  margin: 8px 0;
}
@media (max-width: 1024px) {
  .product .product__thumbs .swiper-container {
    margin: 0;
  }
}
.product .product__thumbs .swiper-slide-thumb-active img {
  border: 2px solid #098B0D !important;
}
.product .product__thumbs .swiper-slide {
  cursor: pointer;
  width: 98px;
  height: 135px;
}
@media (max-width: 1024px) {
  .product .product__thumbs .swiper-slide {
    width: 64px;
    height: 84px;
  }
}
.product .product__thumbs .swiper-slide img {
  border: 2px solid transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product__thumbs .slider__prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.product .product__thumbs .slider__prev,
.product .product__thumbs .slider__next {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .product .product__thumbs .slider__prev,
  .product .product__thumbs .slider__next {
    display: none;
  }
}
.product .product__thumbs .slider__prev.swiper-button-disabled,
.product .product__thumbs .slider__next.swiper-button-disabled {
  opacity: 0.3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product .product__images {
  width: 100%;
}
.product .product__images .swiper-container {
  height: 100%;
}
.product .product__images .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .product .product__images .swiper-slide {
    height: auto;
    max-height: 480px;
  }
}
.product .product__images img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reviews {
  margin-top: 50px;
}
.reviews .reviews__list {
  margin-top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.reviews .reviews__prev,
.reviews .reviews__next {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-shadow: 0px 4px 30px rgba(27, 28, 47, 0.1);
          box-shadow: 0px 4px 30px rgba(27, 28, 47, 0.1);
  position: absolute;
  top: 50%;
}
@media (max-width: 1024px) {
  .reviews .reviews__prev,
  .reviews .reviews__next {
    display: none;
  }
}
.reviews .reviews__prev {
  left: -50px;
}
@media (max-width: 1400px) {
  .reviews .reviews__prev {
    left: 0px;
  }
}
.reviews .reviews__next {
  right: -50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1400px) {
  .reviews .reviews__next {
    right: 0px;
  }
}
.reviews .swiper {
  margin: -30px 0;
  padding: 30px 0;
}
.reviews .swiper-container {
  width: 100%;
}
.reviews .reviews__card {
  -webkit-box-shadow: 0px 4px 30px rgba(27, 28, 47, 0.1);
          box-shadow: 0px 4px 30px rgba(27, 28, 47, 0.1);
  padding: 32px 40px;
  border-radius: 24px;
}
@media (max-width: 1024px) {
  .reviews .reviews__card {
    width: 370px;
  }
}
@media (max-width: 576px) {
  .reviews .reviews__card {
    padding: 24px;
  }
}
.reviews .reviews__person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}
.reviews .reviews__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.reviews .reviews__image {
  width: 55px;
  height: 55px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.reviews .reviews__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews .reviews__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.reviews .reviews__date {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-grey);
}
.reviews .reviews__stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  margin-top: 8px;
}
.reviews .reviews__stars img {
  width: 16px;
  height: 16px;
}
.reviews .reviews__feedback {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

.bestseller {
  margin-top: 50px;
}
.bestseller .bestseller__wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 32px;
}
@media (max-width: 1024px) {
  .bestseller .bestseller__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.bestseller .bestseller__item {
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 16px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bestseller .bestseller__item:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(64, 68, 82, 0.12);
          box-shadow: 0px 4px 16px rgba(64, 68, 82, 0.12);
  border-radius: 16px;
}
.bestseller .bestseller__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bestseller .bestseller__image img {
  width: 100%;
  height: 100%;
}
.bestseller .bestseller__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-top: 32px;
}
.bestseller .bestseller__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bestseller .bestseller__stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  margin-top: 8px;
}
.bestseller .bestseller__stars img {
  width: 16px;
  height: 16px;
}
.bestseller .bestseller__button {
  margin-top: 24px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
@media (max-width: 1024px) {
  .bestseller .bestseller__button {
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
  }
}

.callback {
  margin-top: 50px;
}
.callback .callback__wrapper {
  background: #F2F2F2;
  border-radius: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}
@media (max-width: 1024px) {
  .callback .callback__wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px 24px;
  }
}
.callback .callback__info {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1024px) {
  .callback .callback__info {
    margin-top: 8px;
  }
}
.callback form {
  margin-top: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (max-width: 1024px) {
  .callback form {
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
.callback .input {
  width: 450px;
  height: 56px;
}
@media (max-width: 1024px) {
  .callback .input {
    width: auto;
  }
}
.callback .button {
  height: 56px;
}
@media (max-width: 1024px) {
  .callback .button {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
  }
}
.callback .callback__politocal {
  margin-top: 50px;
  max-width: 500px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
@media (max-width: 1024px) {
  .callback .callback__politocal {
    margin-top: 24px;
    max-width: inherit;
    text-align: left;
    line-height: 16px;
  }
}
.callback .callback__politocal a {
  color: #1C1F22;
  text-decoration: underline;
}

.footer {
  background: #333432;
  padding: 80px 110px;
  padding-bottom: 55px;
  color: #fff;
  margin-top: 50px;
}
@media (max-width: 1340px) {
  .footer {
    padding: 80px 80px 40px 0;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 0;
    padding-bottom: 15px;
    background: inherit;
    color: var(--color-black);
  }
}
.footer .footer__image--white {
  display: block;
}
@media (max-width: 1024px) {
  .footer .footer__image--white {
    display: none;
  }
}
.footer .footer__image--black {
  display: none;
}
@media (max-width: 1024px) {
  .footer .footer__image--black {
    display: block;
  }
}
.footer .footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}
.footer .footer__slogan p {
  margin-top: 40px;
  max-width: 540px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .footer .footer__slogan p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
  }
}
.footer .footer__contact {
  width: 400px;
}
@media (max-width: 1340px) {
  .footer .footer__contact {
    width: auto;
  }
}
.footer .footer__contact ul {
  margin-top: 24px;
}
.footer .footer__contact li {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #A3ACB2;
}
@media (max-width: 1024px) {
  .footer .footer__contact li {
    color: var(--color-black);
  }
}
.footer .footer__contact li:not(:last-child) {
  margin-bottom: 8px;
}
.footer .footer__contact a {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #A3ACB2;
}
@media (max-width: 1024px) {
  .footer .footer__contact a {
    font-weight: 700;
    color: var(--color-black);
  }
}
.footer .footer__politicals {
  text-align: center;
  margin-top: 44px;
}
.footer .footer__politicals a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
@media (max-width: 1024px) {
  .footer .footer__politicals a {
    color: var(--color-black);
  }
}
@media (max-width: 1024px) {
  .footer .accordion ul {
    max-height: 0;
    overflow: hidden;
  }
  .footer .accordion h2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .accordion h2::after {
    content: "";
    display: block;
    background-image: url(/image/reviews-arrow.svg);
    background-size: contain;
    background-position: center;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 680px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 230;
  padding: 40px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 0px 4px 16px rgba(64, 68, 82, 0.12);
          box-shadow: 0px 4px 16px rgba(64, 68, 82, 0.12);
  border-radius: 32px;
}
.modal.modal--big {
  max-width: 890px;
}
.modal.modal--response {
  text-align: center;
}
.modal.modal--response .button {
  margin-top: 32px;
}
.modal .title {
  white-space: inherit;
}
@media (max-width: 768px) {
  .modal {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    border-radius: 32px 32px 0 0;
    padding: 32px 16px;
  }
}

.modal__close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .modal__close {
    top: 16px;
    right: 16px;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .modal.active {
    bottom: 0;
    top: auto;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

.modal hr {
  border: 1px solid #DCDEE6;
  margin: 32px 0;
  border-bottom: none;
}
@media (max-width: 768px) {
  .modal hr {
    margin: 24px 0;
  }
}

.modal__desctiption {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey);
  margin-top: 8px;
}

.modal__contacts {
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
}
.modal__contacts li:not(:last-child) {
  margin-bottom: 15px;
}
.modal__contacts a {
  color: inherit;
}
@media (max-width: 768px) {
  .modal__contacts {
    margin: 24px 0;
  }
}

.modal__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}
.modal__form .input {
  height: 56px;
}
.modal__form .button {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  height: 56px;
}

.modal__political {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 32px;
}
.modal__political a {
  color: inherit;
  text-decoration: underline;
}

.modal__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 768px) {
  .modal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal__productTitle {
  font-size: 24px;
}

.modal__productImage {
  width: 260px;
  height: 260px;
}
.modal__productImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .modal__productImage {
    width: 215px;
    height: 215px;
  }
}

.modal__productType {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}